nav {
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 0 20px;
  text-align: center;
  height: auto;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  padding: 10px 30px;
}

nav a {
  color: rgb(165, 165, 165);
  text-decoration: none;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navtxt {
  display: flex;
  padding-top: 10px;
}

.announcement {
  background-color: #1d1d1f;
  color: #ffffff;
  text-align: center;
  width: 100%;
  font-size: large;
  padding: 13px 0;
}

.mac {
  background-color: black;
  position: relative;
  text-align: center;
}

section h1 {
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  color: #ffffff;
  font-size: 45px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.text {
  position: relative;
  left: 0;
  right: 0;
  justify-self: center;
  z-index: 3;
  margin-top: 0%;
  padding-top: 0%;
  top: 0px;
  z-index: 3;

}

.mac-image {
  position: absolute;
  top: 50%;
  left: 50%; 
  width: 100%;
  top: 710px; 
  transform: translate(-50%, -80%) scale(2);
  z-index: 2;
}

.group {
  height: 1000px;
  display: flex; /* Use flexbox for the main container */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  background-color: black;
  position: relative;
}

section button {
  background-color: #0071e3;
  border-style: none;
  justify-content: center;  
  display: flex;
  align-items: center;
  margin: -90px 0px 22px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 24px;
  border-radius: 50px;
  color: #ffffff;
  width: 98.81px;
  height: 58.6px;
  z-index: 4;
  top: 940px;
  cursor: pointer;

}

section {
  background-color: black;
}

section h2 {
  position: absolute;
  margin-bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  color: #86868b;
  font-size: 30px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: auto;
  text-align: center;
  direction: ltr;
  bottom: 0px;
}
